body {
  color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 4rem 6fr;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  row-gap: unset;
  
}

.main {
  min-height: 100vh;
  grid-column: 1 / span 5;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.45fr 2fr 2fr 2fr;
  grid-auto-flow: column;
  row-gap: 4rem;
}

@media (max-width: 950px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 6fr;
    grid-auto-flow: column;
  }

  body *{
    max-width: 100%;
  }

  .main {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .1fr 1fr .2fr .01fr;
    grid-auto-flow: column;
    max-width: 100%;
  }
}
